/* Reset + base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Helvetica Neue', sans-serif;
  background: #C24E2A;
  color: #ffffff;
  line-height: 1.6;
}

/* Banner */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #E3C99A;
  padding: 0.5rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #C18A1E;
  display: flex;
  align-items: center;
}
.logo-img{
  height: 3rem;
  margin-left: 0.5rem;
  vertical-align: middle;
}

nav a {
  margin-left: 1rem;
  text-decoration: none;
  color: #C18A1E;
  font-weight: 500;
}
nav a:hover {
  color: #C24E2A;
}

/* News section */
.news {
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 4rem;
  flex-wrap: wrap;
}
.news-image {
  flex: 1;
  max-width: 60%;
}
.news-image img {
  width: 100%;
  border-radius: 12px;
  transition: opacity 0.1s ease;
  opacity: 1;
}
.news-image img.fade-out {
  opacity: 0;
}
.news-text {
  flex: 1;
  max-width: 40%;
  text-align: center;
  padding: 2rem 1rem;
  font-size: 1.1rem;
  line-height: 1.7;
}
.news-text h1 {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}
.news-text p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.news-text {
  transition: opacity 0.1s ease;
  opacity: 1;
}

.news-text.fade-out {
  opacity: 0;
}


.button {
  background-color: #4B9D9A;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.2s;
}
.button:hover {
  background-color: #2C736E;
}

/* Footer */
footer {
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
  color: #E8AC26;
}

/* Carousel container */
.card-carousel {
  overflow: hidden;
  padding: 0.4rem 0;
  background: #E3C99A;
  position: fixed;
  top: 3.3rem;
  width: 100%;
  z-index: 5;
}

/* Moving track */
.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll-left 120s linear infinite;
}
.carousel-track img {
  width: 60px;
  height: auto;
  margin: 0 10px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(97, 97, 97, 0.4);
  object-fit: cover;
}

/* Animation keyframes */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .news {
    flex-direction: column;
    padding: 1.5rem 1rem;
  }
  .news-image,
  .news-text {
    max-width: 100%;
    flex: none;
  }
  .news-text {
    padding: 1rem 0;
    font-size: 1rem;
  }
  .news-text p {
    font-size: 1rem;
  }
  .news-image img {
    width: 100%;
    height: auto;
    border-radius: 12px;
  }
}
